/*
Monokai palette :

--rose: #f92672;
--yellow-green: #a6e22e;
--earth-yellow: #f4bf75;
--sky-blue: #66d9ef;
--tropical-indigo: #ae81ff;
--baby-powder: #f9f8f5;
--eerie-black: #272822;
*/

:root {
  --black: #272822;
  --white: #f9f8f5;
  --purple: #ae81ff;
  --blue: #66d9ef;
  --yellow: #f4bf75;
  --green: #a6e22e;
  --pink: #f92672;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 10vh 90vh;
  background-color: var(--black);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body > header {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--blue);
}

body > main {
  display: grid;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--black);
  border: 1px solid var(--blue);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

button {
  background-color: var(--blue);
  border: 2px solid var(--black);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: var(--black);
  cursor: pointer;
  font-size: 1.5rem;
}
button:hover {
  background-color: var(--blue);
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.5rem;
}
section > h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--black);
  border: 1px solid var(--blue);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--blue);
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
}
